
/* Admin */
.containerAdmin {
    width: 100%;
    min-height: 100vh; 
    background: var(--corFundoPrincipal);
    display: grid;
    grid-template-areas: "Menu Painel";
    grid-template-columns: 15% 80%;
    gap: 20px;
    padding: 10px;
}

.painel{
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    grid-area: "Painel";
    position: relative;
}

.content{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    padding: 5px;
}