@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --corFundoPrincipal: #f4f6f7;
    --cor1: #607d8b;
    --cor2: #a2b6be;
    --cor3: #e2e8eb;
    --raleway: "Raleway";
    --roboto: "Roboto";
}

* {
    padding: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: var(--corFundoPrincipal);
}

#app{
    width: 100vw;
    height: 100vh;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove setinhas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}